/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #444;
    background: #f9f9f9;
   
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #c96868;;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
   text-decoration: underline;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: #f3f8fb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
    background-image: url(homebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    color: #333;
    max-width: 600px;
    z-index: 1;
    margin-top: 150px;
}

.hero-content h1 {
    font-size: 3.5rem;
    color: #ff6f61;
    margin-bottom: 20px;
    animation: slideDown 1s ease-in-out forwards;
    opacity: 0;
}


.hero-content h2 {
    font-size: 2rem;
    color: #ff6f61;
    margin-bottom: 20px;
    animation: slideDown 1s ease-in-out forwards;
    opacity: 0;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    animation: slideDown 1s ease-in-out 0.3s forwards;
    opacity: 0;
}

.btn {
    padding: 12px 25px;
    background: #ff6f61;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    
    animation: slideDown 1s ease-in-out 0.6s forwards;
    opacity: 0;
}

.btn:hover {
    background: #f14b3b;
}

/* Vector Animations */
.vector {
    position: absolute;
    z-index: 0;
}

.suitcase {
    bottom: 0px;
    left: 2%;
    width: 500px;
    animation: float 5s infinite linear;
}
.airplane {
    top: 2%;
    right: 5%;
    width: 400px;
    animation: flyAcross 10s infinite linear;
}

/* Keyframes */
@keyframes slideDown {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes flyAcross {
    0% { transform: translateX(100px) rotate(-10deg); }
    100% { transform: translateX(-100vw) rotate(-10deg); }
}



/* Footer */
footer {
    padding: 10px 10%;
    text-align: center;
    background: #333;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .destination-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .destination-card {
        width: 100%;
    }
}